grey = grey
table
  td:not(.notSelect)
    cursor: pointer
  .selected
    background: grey
  td:not(.selected):hover, td:not(.notSelect):hover
    background: slategrey;
  td.notSelect
    background: red;
