extends /layouts/_default

block content
  table#priority
    tr
      td.notSelect Priority
      td.notSelect A
      td.notSelect B
      td.notSelect C
      td.notSelect D
      td.notSelect E
      td.notSelect X
    tr(data-type="meta")
      td.notSelect Metatype
      td.a {{meta.a}}
      td.b {{meta.b}}
      td.c {{meta.c}}
      td.d {{meta.d}}
      td.e {{meta.e}}
      td.notSelect.remove X
    tr(data-type="attributes")
      td.notSelect Attributes
      td.a {{attributes.a}}
      td.b {{attributes.b}}
      td.c {{attributes.c}}
      td.d {{attributes.d}}
      td.e {{attributes.e}}
      td.notSelect.remove X
    tr(data-type="magic")
      td.notSelect Magic/Resonance
      td.a {{magic.a}}
      td.b {{magic.b}}
      td.c {{magic.c}}
      td.d {{magic.d}}
      td.e {{magic.e}}
      td.notSelect.remove X
    tr(data-type="skills")
      td.notSelect Attribute
      td.a {{skills.a}}
      td.b {{skills.b}}
      td.c {{skills.c}}
      td.d {{skills.d}}
      td.e {{skills.e}}
      td.notSelect.remove X
    tr(data-type="resource")
      td.notSelect Resource
      td.a {{resource.a}}
      td.b {{resource.b}}
      td.c {{resource.c}}
      td.d {{resource.d}}
      td.e {{resource.e}}
      td.notSelect.remove X

  .result

