extends /layouts/_default

block content
  table#priority
    tr
      td.notSelect race
      td Mensch
      td Ork
      td Zwerg
      td Elf
      td Troll
    tr
      td fähigkeit
      td 24
      td 20
      td 16
      td 12
