!!! 5
//if IE 8
    <html class="lt-ie9">
// [if gt IE 8] <!
html(lang="en")
  // <![endif]
  head
    title shdwrn-gnrtr
    meta(charset='UTF-8')
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')

    // build:css /styles/main.css
    link(href='/styles/main.css', rel='stylesheet')
    // endbuild

  body(class=page)
    header
      h1 project: shdwrn-gnrtr
    block content
    footer

    // build:js /scripts/main.js

    script(src='/scripts/main.js')

    // endbuild
